#numpy==1.13.1
#matplotlib==2.0.2 
#seaborn==0.8.1
absl-py >= 0.1.6
astor >= 0.6.0
gast >= 0.2.0
grpcio >= 1.8.6
numpy >= 1.13.3
six >= 1.10.0
protobuf >= 3.4.0
tensorboard == 1.7.0
termcolor >= 1.1.0
tensorflow==1.0
